Client credentials grant documentation incomplete.

I have developed a server using league/oauth2-server which successfully returns access tokens and resources when issuing the appropriate cURL commands.

I cannot, however, develop a functional client using the client credentials grant and I know that a lot of users of this package experience the same problem. I have asked the question on github, but I think the issue is the result of missing code due to a lack of insight (there is no explanation of how to create the resource owner endpoint within the oauth2-server docs), rather than a mistake or typo in the code which I have already written.

When making a `$provider->getAccessToken()` request, I recieve a response detailing that the Authorization Server's response did not contain a body.

Whilst this may not be an issue in itself, there is no documentation concerning it and the closest thing to a working client credentials provider class example is an answer to another stack overflow question.

Please see [my stack overflow question](https://stackoverflow.com/questions/58102870/thephpleague-oauth2-client-getaccesstoken-throws-an-oauth-server-error-was) for an example of the provider class I wrote.

According to [RFC 6749, section 5.1](https://tools.ietf.org/html/rfc6749#section-5.1):

> The parameters are included in the entity-body of the HTTP response using the "application/json" media type as defined by [RFC4627].  The parameters are serialized into a JavaScript Object Notation (JSON) structure by adding each parameter at the highest structure level. Parameter names and string values are included as JSON strings. Numerical values are included as JSON numbers.

So, the access token response is supposed to be JSON, but not every server implements it this way. With league/oauth2-client, we try to follow the spec as close as possible, while giving you the option to customize for your needs.

If the server you're using (or implementing) doesn't return a proper JSON response, then you'll need to customize the client code accordingly. You may do this by extending `AbstractProvider` and overriding the `parseResponse()` method (as an example).