Token jsonSerialize should also return expires_in

When we create the AccessToken the code comments state

```
        // We need to know when the token expires. Show preference to
        // 'expires_in' since it is defined in RFC6749 Section 5.1.
        // Defer to 'expires' if it is provided instead.
```

The AccessToken can then be serialized but sadly this can't be plugged into some providers because it's created with "expires".

```
if ($this->expires) {
    $parameters['expires'] = $this->expires;
}
```

Can "expires_in" safely be added to these parameters?

The problem with serializing `expires_in` is that it is an interval, not an absolute point in time. As time passes, the value of `expires_in` would need to change in order to stay correct. For obvious reasons, this is basically impossible.

I don't see how it would be possible to encode `expires_in` without also storing additional metadata, like when the access token was first created.

@jamesgraham Can you point to one of the providers you mention? I'm interested in taking a look at what you mean by "can't be plugged into some providers."

Hi @ramsey - my use case is passing a token into Google Client. My current implementation looks a bit like this:

`    
public function __construct()
    {

            $token = $this->getProviderToken();

            $client = new \Google_Client();
            $client->setClientId(a);
            $client->setClientSecret(b);
            $client->setAccessToken($token);

            $this->service = new \Google_Service_Calendar($client);
    }

    public function getProviderToken()
    {
        $account = $this->user->getSocialAccount(SocialAccount::PROVIDER_GOOGLE);

        if ($account == false) {
            throw new Exception('Calendar account not connected.');
        }

        // Get an AccessToken.
        $token = $this->oauth->getToken($account);

        $json_token = $token->jsonSerialize();
        $json_token['expires_in'] = $token->getExpires() - time();

        return json_encode($json_token);
    }`

Totally see the point by @shadowhand so I don't think it's feasible to implement.